<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.jcryptool.analysis"
            class="org.jcryptool.analysis.bruteforce.View"
            id="org.jcryptool.analysis.bruteforce"
            name="Brute force"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.analysis">
      <analysis
            name="Brute force"
            viewId="org.jcryptool.analysis.bruteforce">
      </analysis>
   </extension>


</plugin>
