<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="org.jcryptool.crypto.classic.model.commands.category"
          name="Classic algorithm parameters viewer">
    </category>
    <command
          categoryId="org.jcryptool.crypto.classic.model.commands.category"
          description="Show the parameters of the classic algorithm that created the original content of the active editor."
          id="org.jcryptool.crypto.classic.model.commands.sampleCommand"
          name="Show en-/decryption parameters">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.jcryptool.crypto.classic.model.handlers.ClassicAlgorithmViewConfigHandler"
          commandId="org.jcryptool.crypto.classic.model.commands.sampleCommand">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:edit">
       <command
             commandId="org.jcryptool.crypto.classic.model.commands.sampleCommand"
             id="org.jcryptool.crypto.classic.model.menus.sampleCommand"
             mnemonic="S">
       </command>
    </menuContribution>
 </extension>
</plugin>
