<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
      		category="org.jcryptool.visual"
            class="org.jcryptool.visual.jctca.JCTCA_Visual"
            id="org.jcryptool.visual.jctca.JCTCA_Visual"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            contextHelpId="org.jcryptool.visual.jctca.JCTCA_Visual"
            name="%Visual.name"
            viewId="org.jcryptool.visual.jctca.JCTCA_Visual"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/help/contexts.xml">
      </contexts>
   </extension>
</plugin>
