<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="JCrypTool artifacts that patch the eclipse platform" sequenceNumber="42">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://cryptool.org/jct/thirdparty-p2/platformpatches"/>
			<unit id="org.eclipse.help.ui" version="4.1.600.v20190814-0936"/>
		</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
		<repository location="https://cryptool.org/jct/thirdparty-p2/m2bundle"/>
		<unit id="org.jcryptool.thirdparty.m2bundle.jaxb" version="0.0.1"/>
	</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190827152740/repository"/>
			<unit id="javax.annotation" version="1.2.0.v201602091430"/>
		</location>
	</locations>
</target>
