<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.wots.WotsView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.wots.WotsView"
            name="%view.name">
      </view>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jcryptool.visual.wots.WotsView">
         <command
               commandId="org.jcryptool.visual.wots.RestartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push"
               tooltip="%menu.restart.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jcryptool.visual.wots.WotsView">
         <command
               commandId="org.jcryptool.visual.wots.ResetCommand"
               icon="icons/restart_task.gif"
               style="push"
               tooltip="%menu.reset.tooltip">
         </command>
      </menuContribution>
  </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.wots.RestartCommand"
            name="%command.restart.name">
      </command>
      <command
            id="org.jcryptool.visual.wots.ResetCommand"
            name="%command.reset.name">
      </command>
      <command
            id="org.jcryptool.visual.wots.HelpCommand"
            name="%command.help.name">
      </command>
  </extension>
  
  
  <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.wots.files.RestartHandler"
            commandId="org.jcryptool.visual.wots.RestartCommand">
      </handler>
      <handler
            class="org.jcryptool.visual.wots.files.ResetHandler"
            commandId="org.jcryptool.visual.wots.ResetCommand">
      </handler>
      <handler
            class="org.jcryptool.visual.wots.files.HelpHandler"
            commandId="org.jcryptool.visual.wots.HelpCommand">
      </handler>
  </extension>
  
  
  
  <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%Visual.name"
            contextHelpId="org.jcryptool.visual.wots.kontextHilfe"
            viewId="org.jcryptool.visual.wots.WotsView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension> 
   
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/help/contexts.xml">
      </contexts>
   </extension>
</plugin>
