<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jcryptool.games"
            name="%views.category2">
      </category>
      <category
            id="org.jcryptool.visual"
            name="%views.category3">
      </category>
      <category
            id="org.jcryptool.analysis"
            name="%views.category4">
      </category>
      <view
            allowMultiple="false"
            category="org.jcryptool.crypto"
            class="org.jcryptool.core.views.AlgorithmView"
            icon="icons/algorithm_view.png"
            id="org.jcryptool.core.views.AlgorithmView"
            name="%views.algorithms"
            restorable="true">
         <description>
            %view.description
         </description>
      </view>
      
      
      <!-- Die Error Log View. Sie wurde auskommentiert, da
      sie eine Exception produziert hat und nicht angezeigt wurde. 
      Daher wird sie nicht mehr angezeigt -->
<!--      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:logView"
            icon="icons/error_log.gif"
            id="org.eclipse.pde.runtime.LogView"
            name="%views.errorlog"
            restorable="true">
      </view>      -->
      
      
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/progress.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="%view.progress"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jcryptool.core.perspective">
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
