<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	 <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.sigVerification.ui.view.SigVerView"
            icon="icons/view.gif"
            id="org.jcryptool.visual.sigVerification.SigVerComposite"
            name="Signatur-Verification"
            restorable="true">
      </view>
   </extension>

  
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="Signatur-Verification"
            viewId="org.jcryptool.visual.sigVerification.view"
            contextHelpId="org.jcryptool.visual.sigVerification.SigVerView">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.toc">
   </extension>
   <extension
         point="org.eclipse.help.contexts">
   </extension>

</plugin>
