<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="performFlexiProviderOperation" name="Perform FlexiProvider Operations" schema="schema/performFlexiProviderOperation.exsd"/>
   <extension-point id="checkFlexiProviderOperation" name="Check FlexiProvider Operations" schema="schema/checkFlexiProviderOperation.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.crypto"
            class="org.jcryptool.crypto.flexiprovider.operations.ui.views.FlexiProviderOperationsView"
            icon="icons/16x16/klipper_dock.png"
            id="org.jcryptool.crypto.flexiprovider.operations.OperationsView"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.jcryptool.crypto.flexiprovider.algorithms.newOperation">
      <newOperation
            listenerClass="org.jcryptool.crypto.flexiprovider.operations.NewOperationListener">
      </newOperation>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>

	<extension
	   point="org.eclipse.ui.menus">
		<menuContribution
		      allPopups="false"
		      locationURI="popup:org.jcryptool.crypto.flexiprovider.operations.popup" >
		  <separator
		        name="org.jcryptool.crypto.flexiprovider.operations.ui.selkeysep" visible="true">
		  </separator>
		  <command
		        commandId="org.jcryptool.crypto.keystore.SelectKey"
		        icon="icons/16x16/kgpg_key3.png"
		        id="org.jcryptool.crypto.keystore.commands.SelectKey"
		        label="%selectkey.command.label"
		        style="push"
		        tooltip="%selectkey.command.tooltip">
		        <visibleWhen
		              checkEnabled="false">
		           <and>
		              <with
		                    variable="selection">
		                 <iterate
		                       ifEmpty="false"
		                       operator="or">
	                           <instanceof
	                              value="org.jcryptool.crypto.flexiprovider.operations.ui.views.nodes.keys.KeyNode">
		                        </instanceof>
		                 </iterate>
		              </with>
		              <count
		                 value="1">
		              </count>
		           </and>
		        </visibleWhen>
		  </command>
		</menuContribution>
	</extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.jcryptool.crypto.flexiprovider.operations.ui.handlers.SelectKeyHandler"
          commandId="org.jcryptool.crypto.keystore.SelectKey">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.jcryptool.crypto.flexiprovider.ui.perspective.FlexiProviderPerspective">
       <viewShortcut
             id="org.jcryptool.crypto.flexiprovider.operations.OperationsView">
       </viewShortcut>
    </perspectiveExtension>
 </extension>

</plugin>
