<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.analysis"
            class="org.jcryptool.analysis.substitution.views.SubstitutionAnalysisView"
            fastViewWidthRatio="0.7"
            icon="icons/sample.gif"
            id="org.jcryptool.crypto.analysis.substitution.views.SubstitutionAnalysisView"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.analysis">
      <analysis
            name="%analysis.name2"
            viewId="org.jcryptool.crypto.analysis.substitution.views.SubstitutionAnalysisView">
      </analysis>
   </extension>

</plugin>
