<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="editorButton" name="EditorButton" schema="schema/editorButton.exsd"/>
   <extension-point id="platformLanguage" name="PlatformLanguage" schema="schema/platformLanguage.exsd"/>

   <extension id="application" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.jcryptool.core.Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective class="org.jcryptool.core.Perspective" icon="icons/jct_persp.png" id="org.jcryptool.core.perspective" name="%perspective.jcryptool"/>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command description="%command.description" id="org.jcryptool.core.commands.showHelp" name="%command.name"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler class="org.jcryptool.core.commands.ShowHelpContents" commandId="org.jcryptool.core.commands.showHelp"/>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.jcryptool.core.editorsActionSet"
            label="%editors.actionSet.label"
            visible="true">
         <action
               class="org.jcryptool.core.actions.ShowEditorsPulldownMenuAction"
               icon="icons/editors.gif"
               id="EditorsToolbar.EditorsPulldownAction"
               label="%editors.action.label"
               style="pulldown"
               toolbarPath="org.jcryptool.core.toolbar/fileStart"
               tooltip="%editors.action.tooltip">
         </action>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.jcryptool.core.toolbar?after=additions">
         <command commandId="org.jcryptool.core.commands.showHelp" icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_contents.gif" style="push" tooltip="%command.tooltip"/>
      </menuContribution>
      <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu">
         <menu id="org.jcryptool.menu.help" label="%menu.label">
            <command commandId="org.eclipse.ui.help.quickStartAction" icon="icons/icon_16.gif" style="push"/>
            <separator name="org.jcryptool.core.help.separator.1" visible="true"/>
            <command commandId="org.eclipse.ui.help.helpContents" icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_contents.gif" style="push"/>
            <command commandId="org.eclipse.ui.help.helpSearch" icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_search.gif" style="push"/>
            <command commandId="org.eclipse.ui.help.dynamicHelp" style="push"/>
            <separator name="org.jcryptool.core.help.separator.2" visible="true"/>
            <command commandId="org.eclipse.ui.cheatsheets.openCheatSheet" label="%command.label.1" style="push"/>
            <separator name="org.jcryptool.core.help.separator.3" visible="true"/>
            <command commandId="org.eclipse.equinox.p2.ui.sdk.update" label="%command.label" style="push"/>
            <command commandId="org.eclipse.equinox.p2.ui.sdk.install" label="%command.label.0" style="push"/>
            <separator name="org.jcryptool.core.help.separator.4" visible="true"/>
            <command commandId="org.eclipse.ui.help.aboutAction" style="push">
               <visibleWhen checkEnabled="false">
                  <not>
                     <systemTest property="os.name" value="Mac OS X"/>
                  </not>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page class="org.jcryptool.core.preferences.pages.GeneralPage" id="org.jcryptool.preferences.general" name="%preference.page.general"/>
      <page category="org.jcryptool.preferences.general" class="org.eclipse.ui.ExtensionFactory:fileAssociationsPreferencePage" id="org.jcryptool.core.preferences.fileAssociations" name="%preference.page.file_associations"/>
      <page category="org.jcryptool.preferences.general" class="org.eclipse.ui.ExtensionFactory:keysPreferencePage" id="org.jcryptool.core.preferences.keys" name="%preference.page.keys"/>
      <page category="org.jcryptool.preferences.general" class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage" id="org.jcryptool.core.preferences.colorsAndFonts" name="%preference.page.colorsAndFonts"/>
      <page class="org.jcryptool.core.preferences.pages.EditorsPage" id="org.jcryptool.preferences.editors" name="%preference.page.editors"/>
      <page class="org.jcryptool.core.preferences.pages.CryptoPage" id="org.jcryptool.preferences.crypto" name="%preference.page.crypto"/>
      <page class="org.jcryptool.core.preferences.pages.AlgorithmsPage" id="org.jcryptool.preferences.algorithms" name="%preference.page.algorithms"/>
      <page class="org.jcryptool.core.preferences.pages.AnalysisPage" id="org.jcryptool.preferences.analysis" name="%preference.page.analysis"/>
      <page class="org.jcryptool.core.preferences.pages.GamesPage" id="org.jcryptool.preferences.games" name="%preference.page.games"/>
      <page class="org.jcryptool.core.preferences.pages.VisualsPage" id="org.jcryptool.preferences.visuals" name="%preference.page.visuals"/>
   </extension>

   <extension point="org.eclipse.ui.intro">
      <intro class="org.eclipse.ui.intro.config.CustomizableIntroPart" icon="icons/icon_16.gif" id="org.jcryptool.intro" label="%intro.title"/>
      <introProductBinding introId="org.jcryptool.intro" productId="org.jcryptool.core.product"/>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.jcryptool.core.perspective">
         <perspectiveShortcut id="org.jcryptool.crypto.flexiprovider.ui.perspective.FlexiProviderPerspective"/>
         <viewShortcut id="org.jcryptool.core.views.AlgorithmView"/>
         <viewShortcut id="org.jcryptool.fileexplorer.views.FileExplorerView"/>
         <viewShortcut id="org.eclipse.help.ui.HelpView"/>
         <viewShortcut id="org.jcryptool.actions.views.ActionView"/>
         <view id="org.jcryptool.fileexplorer.views.FileExplorerView" minimized="false" ratio="0.25f" relationship="left" relative="org.eclipse.ui.editorss"/>
         <view id="org.jcryptool.actions.views.ActionView" minimized="false" ratio="0.25f" relationship="stack" relative="org.jcryptool.fileexplorer.views.FileExplorerView"/>
         <view id="org.jcryptool.core.views.AlgorithmView" minimized="false" ratio="0.68f" relationship="right" relative="org.eclipse.ui.editorss"/>
         <view id="org.eclipse.help.ui.HelpView" minimized="false" ratio="0.5" relationship="bottom" relative="org.jcryptool.fileexplorer.views.FileExplorerView"/>
      </perspectiveExtension>
   </extension>

   <extension point="org.jcryptool.core.platformLanguage">
      <language languageCode="en_EN" languageDescription="%language.languageEnglish"/>
   </extension>
   <extension point="org.jcryptool.core.platformLanguage">
      <language languageCode="de_DE" languageDescription="%language.languageGerman"/>
   </extension>

   <extension point="org.eclipse.e4.ui.css.swt.theme">
      <theme basestylesheeturi="css/jcryptool.css" id="org.jcryptool.themes.default" label="Default Theme"/>
   </extension>

   <extension id="product" point="org.eclipse.core.runtime.products">
      <product application="org.jcryptool.core.application" name="JCrypTool">
         <property name="appName" value="JCrypTool"/>
         <property name="cssTheme" value="org.jcryptool.themes.default"/>
         <property name="aboutImage" value="icons/about_dialog.gif"/>
         <property name="aboutText" value="%about.text"/>
         <property name="windowImages" value="icons/icon_16.gif,icons/icon_32.gif,icons/icon_48.gif,icons/icon_64.gif,icons/icon_128.gif"/>
         <property name="startupForegroundColor" value="C0C0C0"/>
         <property name="startupMessageRect" value="7,238,445,20"/>
         <property name="startupProgressRect" value="5,275,445,15"/>
         <property name="preferenceCustomization" value="plugin_customization.ini"/>
      </product>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key commandId="org.eclipse.ui.help.dynamicHelp" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="F1"/>
   </extension>
</plugin>