<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="editorButton" name="EditorButton" schema="schema/editorButton.exsd"/>
   <extension-point id="platformLanguage" name="PlatformLanguage" schema="schema/platformLanguage.exsd"/>

   <extension id="application" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.jcryptool.core.Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective class="org.jcryptool.core.Perspective" icon="icons/jct_persp.png" id="org.jcryptool.core.perspective" name="%perspective.jcryptool"/>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command 
            description="%command.description" 
            id="org.jcryptool.core.commands.showHelp" 
            name="%command.name">
      </command>
      
      <!-- Commands für das neue Editor Dropdown in der coolbar -->
      <command
            id="org.jcryptool.core.command.editorsPulldown"
            name="%command.tooltip.0">
      </command>  
      <command
      		id="org.jcryptool.core.command.openEmptyTextEditor"
      		name="%command.emptyTextFile">
      </command>        
      <command
      		id="org.jcryptool.core.command.openEmptyHexEditor"
      		name="%command.emptyHexFile">
      </command>  
      <command
      		id="org.jcryptool.core.command.openSampleTextEditor"
      		name="%command.newTextSample">
      </command>        
      <command
      		id="org.jcryptool.core.command.openSampleHexEditor"
      		name="%command.newHexSample">
      </command>  
            
      <command
            defaultHandler="org.jcryptool.core.commands.OpenFileHandler"
            id="org.jcryptool.core.action.open"
            name="%command.openfile">
      </command>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler 
          class="org.jcryptool.core.commands.ShowHelpContents" 
          commandId="org.jcryptool.core.commands.showHelp">
      </handler>
      
      
      <!-- handler für das neue Editor Dropdown in der coolbar
           Die Handler verweisen auf die entsprechenden Klassen in 
           org.jcryptool.core.commands -->
      <handler
            class="org.jcryptool.core.commands.OpenNewSampleTextEditorCommand"
            commandId="org.jcryptool.core.command.editorsPulldown">
      </handler>     
      <handler
      		class="org.jcryptool.core.commands.OpenNewEmptyTextEditorCommand"
      		commandId="org.jcryptool.core.command.openEmptyTextEditor">
      </handler>
      <handler
      		class="org.jcryptool.core.commands.OpenNewEmptyHexEditorCommand"
      		commandId="org.jcryptool.core.command.openEmptyHexEditor">
      </handler>
      <handler
      		class="org.jcryptool.core.commands.OpenNewSampleTextEditorCommand"
      		commandId="org.jcryptool.core.command.openSampleTextEditor">
      </handler>
      <handler
      		class="org.jcryptool.core.commands.OpenNewSampleHexEditorCommand"
      		commandId="org.jcryptool.core.command.openSampleHexEditor">
      </handler>
      
   </extension>

   <extension point="org.eclipse.ui.menus">
   
      <!-- Hilfe-Button -->
      <menuContribution locationURI="toolbar:org.jcryptool.core.toolbar?after=additions">
         <command 
         	commandId="org.jcryptool.core.commands.showHelp" 
         	icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_contents.png" 
         	style="push" 
         	tooltip="%command.tooltip"/>
      </menuContribution>
      

	  <!-- neuen Editor öffnen Dropdown -->
      <menuContribution 
      	  allPopups="false"
          locationURI="toolbar:org.jcryptool.core.toolbar?before=fileStart">
         <command 
             commandId="org.jcryptool.core.command.editorsPulldown" 
             icon="icons/editors.gif" 
             style="pulldown" 
             tooltip="%command.tooltip.0">
         </command>
      </menuContribution>
      
      <!-- Einträge im neuen-Editor-öffnen-Dropdown -->
      <menuContribution
      		allPopups="false"
      		locationURI="menu:org.jcryptool.core.command.editorsPulldown">
      	<command
      		commandId="org.jcryptool.core.command.openEmptyTextEditor"
      		icon="icons/editors.gif"
      		tooltip="%command.tooltip.emptyTextFile"
      		style="push">
        </command>
      	<command
      		commandId="org.jcryptool.core.command.openEmptyHexEditor"
      		icon="icons/hex.png"
      		tooltip="%command.tooltip.emptyHexFile"
      		style="push">
        </command>
        
        <!--  Der Trennstrich zwischen den leere-Datei-öffnen und 
        Datei-mit-Beispieltext-öffnen Einträgen -->
        <separator name="separator" visible="true" />
        
        <command
      		commandId="org.jcryptool.core.command.openSampleTextEditor"
      		icon="icons/editors.gif"
      		tooltip="%command.tooltip.newTextSample"
      		style="push">
        </command>
        <command
      		commandId="org.jcryptool.core.command.openSampleHexEditor"
      		icon="icons/hex.png"
      		tooltip="%command-tooltip.newHexSample"
      		style="push">
        </command>

       </menuContribution>	
      	
      

      <!-- Hilfe -->
      <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu">
         <menu id="org.jcryptool.menu.help" label="%menu.label">
            <command commandId="org.eclipse.ui.help.quickStartAction" icon="icons/icon_16.gif" style="push"/>
            <separator name="org.jcryptool.core.help.separator.1" visible="true"/>
            <command commandId="org.eclipse.ui.help.helpContents" icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_contents.png" style="push"/>
            <command commandId="org.jcryptool.core.commands.showHelp" icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_contents.png" style="push"/>
            <command commandId="org.eclipse.ui.help.helpSearch" icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_search.png" style="push"/>
            <command commandId="org.eclipse.ui.help.dynamicHelp" style="push" label="%command.contexthelp"/>
            <separator name="org.jcryptool.core.help.separator.2" visible="true"/>
            <!-- Command for the Spickzettel -->
            <command commandId="org.eclipse.ui.cheatsheets.openCheatSheet" style="push"/>
            <separator name="org.jcryptool.core.help.separator.3" visible="true"/>
            <command commandId="org.eclipse.equinox.p2.ui.sdk.update" icon="icons/iu_update_obj.png" style="push"/>
            <command commandId="org.eclipse.equinox.p2.ui.sdk.install" icon="icons/iu_obj.png" style="push"/>
            <separator name="org.jcryptool.core.help.separator.4" visible="true"/>
            <command commandId="org.eclipse.ui.help.aboutAction" style="push">
               <visibleWhen checkEnabled="false">
                  <not>
                     <systemTest property="os.name" value="Mac OS X"/>
                  </not>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.jcryptool.core.toolbar?before=org.eclipse.ui.file.save">
         <command
               commandId="org.jcryptool.core.action.open"
               icon="icons/open_file.gif"
               label="%command.openfile"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=fileStart">
         <command
               commandId="org.jcryptool.core.action.open"
               icon="icons/open_file.gif"
               label="%command.openfile"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.tool">
         <command
               commandId="org.eclipse.ui.window.quickAccess"
               icon="icons/icon_16.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jcryptool.core.searchToolbar">
         <command
               commandId="org.eclipse.ui.window.quickAccess"
               icon="icons/searchIcon.png"
               style="push">
         </command>
      </menuContribution>
   </extension>

	<!-- The prefrence pages -->
   <extension point="org.eclipse.ui.preferencePages">
      <page class="org.jcryptool.core.preferences.pages.GeneralPage" id="org.jcryptool.preferences.general" name="%preference.page.general"/>
      <page category="org.jcryptool.preferences.general" class="org.eclipse.ui.ExtensionFactory:fileAssociationsPreferencePage" id="org.jcryptool.core.preferences.fileAssociations" name="%preference.page.file_associations"/>
      <page category="org.jcryptool.preferences.general" class="org.eclipse.ui.ExtensionFactory:keysPreferencePage" id="org.jcryptool.core.preferences.keys" name="%preference.page.keys"/>
      <page category="org.jcryptool.preferences.general" class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage" id="org.jcryptool.core.preferences.colorsAndFonts" name="%preference.page.colorsAndFonts"/>
      <!-- Die vier Einstellungs-Seiten sind auskommentiert, da sie, Stand 2020, nicht benutzt wurde.
      	   Um Sie wieder zu verwenden einfach wieder einkommentieren. Die verlinkten Klassen sind 
      	   noch vorhanden -->
      <!-- <page class="org.jcryptool.core.preferences.pages.EditorsPage" id="org.jcryptool.preferences.editors" name="%preference.page.editors"/> -->
      <page class="org.jcryptool.core.preferences.pages.CryptoPage" id="org.jcryptool.preferences.crypto" name="%preference.page.crypto"/>
      <page class="org.jcryptool.core.preferences.pages.AlgorithmsPage" id="org.jcryptool.preferences.algorithms" name="%preference.page.algorithms"/>
      <!-- <page class="org.jcryptool.core.preferences.pages.AnalysisPage" id="org.jcryptool.preferences.analysis" name="%preference.page.analysis"/> -->
      <!-- <page class="org.jcryptool.core.preferences.pages.GamesPage" id="org.jcryptool.preferences.games" name="%preference.page.games"/> -->
      <!-- <page class="org.jcryptool.core.preferences.pages.VisualsPage" id="org.jcryptool.preferences.visuals" name="%preference.page.visuals"/> -->
   </extension>

	<!-- Das sorgt eingentlich dafür, dass die Intro-Seite angezeigt wird.
	Das funktioniert aber aus unerklärlichen Gründen nicht -->
   <extension point="org.eclipse.ui.intro">
      <intro class="org.eclipse.ui.intro.config.CustomizableIntroPart" icon="icons/icon_16.gif" id="org.jcryptool.intro" label="%intro.title"/>
      <introProductBinding introId="org.jcryptool.intro" productId="org.jcryptool.core.product"/>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.jcryptool.core.perspective">
      <!-- This are the views that are listed in Window -> Show view. All other views
      are listed under Window -> Show view -> Others.-->
         <perspectiveShortcut id="org.jcryptool.crypto.flexiprovider.ui.perspective.FlexiProviderPerspective"/>
         <viewShortcut id="org.jcryptool.core.views.AlgorithmView"/>
         <viewShortcut id="org.jcryptool.fileexplorer.views.FileExplorerView"/> 
         <viewShortcut id="org.eclipse.help.ui.HelpView"/>
         <viewShortcut id="org.jcryptool.actions.views.ActionView"/>
         
         <!-- Here you can specify which views should be opened in the standard
         perspective of the JCT at startup. -->
         <!-- The following code is an example how you can stack multiple 
         views to one position(relationship) (left, right, top, bottom). In this example the 
         ActionView and the FileExplorerView are on the same position relationship=left. -->
         <!-- <view 
         	id="org.jcryptool.actions.views.ActionView" 
         	minimized="false" 
         	ratio="0.25f" 
         	relationship="left" 
         	relative="org.eclipse.ui.editorss"/> -->
         <view 
         	id="org.jcryptool.fileexplorer.views.FileExplorerView" 
         	minimized="false" 
         	ratio="0.25f" 
         	relationship="left" 
         	relative="org.eclipse.ui.editorss"/> 
         <view 
         	id="org.jcryptool.core.views.AlgorithmView" 
         	minimized="false" 
         	ratio="0.68f" 
         	relationship="right" 
         	relative="org.eclipse.ui.editorss"/>
         <view 
         	id="org.eclipse.help.ui.HelpView" 
         	minimized="false" 
         	ratio="0.5" 
         	relationship="bottom" 
         	relative="org.jcryptool.actions.views.ActionView"/>
      </perspectiveExtension>
   </extension>

   <!-- here you can add new languages. 
   simply copy the code and adapt ist to the wished language -->
   <extension point="org.jcryptool.core.platformLanguage">
      <language languageCode="en_EN" languageDescription="%language.languageEnglish"/>
   </extension>
   <extension point="org.jcryptool.core.platformLanguage">
      <language languageCode="de_DE" languageDescription="%language.languageGerman"/>
   </extension>
   <extension point="org.jcryptool.core.platformLanguage">
      <language languageCode="fr_FR" languageDescription="%language.languageFrench"/>
   </extension>

   <extension point="org.eclipse.e4.ui.css.swt.theme">
      <theme basestylesheeturi="css/jcryptool.css" id="org.jcryptool.themes.default" label="Default Theme"/>
   </extension>


   <extension id="product" point="org.eclipse.core.runtime.products">
      <product
            application="org.jcryptool.core.application"
            name="JCrypTool">
      <!--  You can access a property via Platform.getProduct().getProperty("appName") -->
         <property name="appName" value="JCrypTool"/>
         <property name="cssTheme" value="org.jcryptool.themes.default"/>
         <property name="aboutImage" value="icons/about_dialog.gif"/>
            <!-- The about window Help -> About -->
         <property name="aboutText" value="%about.text"/>
         <property name="windowImages" value="icons/icon_16.gif,icons/icon_32.gif,icons/icon_48.gif,icons/icon_64.gif,icons/icon_128.gif,icons/icon_256.gif"/>
         <property name="startupForegroundColor" value="C0C0C0"/>
         <property name="startupMessageRect" value="7,238,445,20"/>
         <property name="startupProgressRect" value="5,275,445,15"/>
         <property name="mavenBuildTimestamp" value="%maven.timestamp"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>

      </product>
   </extension>

	<!-- Hier werden shortcuts definiert -->
   <extension point="org.eclipse.ui.bindings">
      <key 
      		commandId="org.eclipse.ui.help.dynamicHelp" 
      		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" 
      		sequence="F1"/>
      <key
            commandId="org.jcryptool.core.action.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
            <key
            commandId="org.eclipse.ui.window.quickAccess"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+3">
      </key>
      
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jcryptool.core.Startup">
      </startup>
</extension>
</plugin>
