<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="true">
      </toc>
      <toc
            file="$nl$/tocRSA.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocElGamal.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocDSA.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocHMACMD5.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocMD5.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocRNGSHA1.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocSHA256.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocAES.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocIDEA.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/tocRC6.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="$nl$/index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.help.webapp.contentFilter">
      <filter
            class="org.jcryptool.core.help.JCTJSInjectionFilter"
            priority="1">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jcryptool.core.help.ServerStartup">
      </startup>
   </extension>

</plugin>
