<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="JCrypTool RCP">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.help.feature.group" version="1.3.0.v20110327-7i7uFFiFFt6ZqnbOrMXLd1"/>
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.1.1.v20110526-6-Bg9JXOePwKUTU7X0teV1RtDu-e"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.5.0.v20110530-7P7NFUFFLWUl76mart"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.sdk.ide" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.7.0.v20110425-2050-7A7I-8yF4F18BBI4E8L558F38x42"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.7.0.v20110425-2050-7G7W-A5WNg9RDcRXDHeSRSTUiNLI"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_rt.equinox_de.feature.group" version="3.7.0.v20110723043401"/>
<unit id="org.eclipse.babel.nls_rt.equinox.p2_de.feature.group" version="3.7.0.v20110723043401"/>
<repository location="http://download.eclipse.org/technology/babel/update-site/R0.9.0/indigo"/>
</location>
<location path="${eclipse_home}/../../delta/eclipse" type="Directory"/>
</locations>
</target>