<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="JCrypTool RCP" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/babel/update-site/R0.9.0/indigo"/>
</location>
<location path="${eclipse_home}/../../delta/eclipse" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.1.2.R37x_v20110815-1155-6-Bj9JXOeQxOURYC-l9BL7rDEQO7"/>
<unit id="org.eclipse.rcp.feature.group" version="3.7.1.r37x_v20110729-9DB5FmNFnFLSFCtLxnRfMqt15A4A"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.7.1.r37x_v20110729-9DB5FmNFnFLSFCtLxnRfMqt15A4A"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.7.1.M20110909-1335"/>
<unit id="org.eclipse.sdk.ide" version="3.7.1.M20110909-1335"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.7.1.v20110830-1143-7G7W2A5WNgEQNgNXBJgcPLWZeMNI"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
