<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
     <!-- <category
            name="Sample Category"
            id="org.jcryptool.analysis.fleissner2">
      </category> -->
      <view
            name="Fleissner"
            inject="true"
            icon="icons/view.gif"
            category="org.jcryptool.analysis"
            class="org.jcryptool.analysis.fleissner2.views.SampleView"
            id="org.jcryptool.analysis.fleissner2.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.analysis">
      <analysis
            name="Fleissner"
            viewId="org.jcryptool.analysis.fleissner2.views.SampleView">
      </analysis>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.jcryptool.analysis.fleissner2.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
