<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.analysis"
            class="org.jcryptool.analysis.viterbi.views.ViterbiView"
            icon="platform:/plugin/org.jcryptool.core.util/icons/analysis_icon.gif"
          	id="org.jcryptool.analysis.viterbi.views.ViterbiView"
            name="%view.name.0">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.jcryptool.core.operations.analysis">
      <analysis
            contextHelpId="org.jcryptool.analysis.viterbi.view"
            name="%visual.name.0"
            viewId="org.jcryptool.analysis.viterbi.views.ViterbiView"
            icon="platform:/plugin/org.jcryptool.core.util/icons/analysis_icon.gif">
      </analysis>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/help/contexts.xml">
      </contexts>
   </extension>
<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.analysis.viterbi.handlers.RestartHandler"
            commandId="org.jcryptool.analysis.viterbi.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.analysis.viterbi.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.jcryptool.analysis.viterbi.views.ViterbiView">
         <command
               commandId="org.jcryptool.analysis.viterbi.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
