<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.euclid.View"
            id="org.jcryptool.visual.euclid.view"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            contextHelpId="org.jcryptool.visual.euclid.view"
            name="%Visual.name"
            viewId="org.jcryptool.visual.euclid.view">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/help/contexts.xml">
      </contexts>
   </extension>

</plugin>
