<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.jcryptool.crypto.classic.vigenere.algorithm"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.classic.vigenere.algorithm.VigenereAlgorithmAction"
            class="org.jcryptool.crypto.classic.vigenere.algorithm.VigenereAlgorithm"
            contextHelpId="org.jcryptool.crypto.classic.vigenere.algorithm"
            engineClass="org.jcryptool.crypto.classic.vigenere.algorithm.VigenereEngine"
            id="org.jcryptool.crypto.classic.vigenere.algorithm"
            name="%algorithm.name"
            type="classic"/>
   </extension>
   <!-- Help -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false"/>
      <toc
            file="$nl$/toc_cryptology.xml"
            primary="false">
      </toc>
   </extension>
   <!-- Context Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="$nl$/contexts.xml"/>
   </extension>
   <extension
         point="org.jcryptool.commands.core.commands">
      <command
            commandImpl="org.jcryptool.crypto.classic.vigenere.algorithm.VigenereCmd"
            description="%command.description"
            name="vigenere">
         <alias
               alias="vig">
         </alias>
         <example
               commandline="#commandname# -E -ed -k akey"
               explanation="%example.explanation">
         </example>
         <example
               commandline="#commandname# -D -ed -k akey"
               explanation="%example.explanation.0">
         </example>
         <example
               commandline="#commandname# -E -a A-Z -t &quot;TEST TEXT&quot; -k AKEY"
               explanation="%example.explanation.1">
         </example>
      </command>
   </extension>

</plugin>
