<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Shanks Babystep-Giantstep"
            icon="icons/view.gif"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.babystepgiantstep.views.BabystepGiantstepView"
            id="org.jcryptool.visual.babystepgiantstep.views.BabystepGiantstepView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="Shanks Babystep-Giantstep"
            viewId="org.jcryptool.visual.babystepgiantstep.views.BabystepGiantstepView">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/help/contexts.xml">
      </contexts>
   </extension>

</plugin>
