<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="id1"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.rsa.RsaAction"
            class="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.rsa.Rsa"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.RSAWizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.rsa"
            isFlexiProviderAlgorithm="true"
            name="RSA"
            type="asymmetric">
      </algorithm>
   </extension>
   <extension
         id="id2"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.md5.Md5Action"
            class="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.md5.Md5"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.MD5Wizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.md5"
            isFlexiProviderAlgorithm="true"
            name="MD5"
            type="hash">
      </algorithm>
   </extension>
   <extension
         id="id3"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.aes.AesAction"
            class="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.aes.Aes"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.AESWizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.aes"
            isFlexiProviderAlgorithm="true"
            name="AES"
            type="symmetric">
      </algorithm>
   </extension>
   <extension
         id="id4"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.sha.ShaAction"
            class="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.sha.Sha"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.SHAWizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.sha"
            isFlexiProviderAlgorithm="true"
            name="SHA"
            type="hash">
      </algorithm>
   </extension>
   <extension
         id="id5"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.rc6.Rc6Action"
            class="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.rc6.Rc6"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.RC6Wizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.rc6"
            isFlexiProviderAlgorithm="true"
            name="RC6"
            type="symmetric">
      </algorithm>
   </extension>
   <extension
         id="id6"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.idea.IdeaAction"
            class="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.idea.Idea"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.IDEAWizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.idea"
            isFlexiProviderAlgorithm="true"
            name="IDEA"
            type="symmetric">
      </algorithm>
   </extension>
   <extension
         id="id7"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.signature.dsa.DsaAction"
            class="org.jcryptool.crypto.flexiprovider.integrator.signature.dsa.Dsa"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.DSAWizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.signature.dsa"
            isFlexiProviderAlgorithm="true"
            name="DSA"
            type="signature">
      </algorithm>
   </extension>
   <extension
         id="id8"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.elgamal.ElGamalAction"
            class="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.elgamal.ElGamal"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.ElGamalWizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.elgamal"
            isFlexiProviderAlgorithm="true"
            name="ElGamal"
            type="asymmetric">
      </algorithm>
   </extension>
   <extension
         id="id9"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.mac.hmacmd5.HMacMd5Action"
            class="org.jcryptool.crypto.flexiprovider.integrator.mac.hmacmd5.HMacMd5"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.HMacMD5Wizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.mac.hmacmd5"
            isFlexiProviderAlgorithm="true"
            name="HMacMD5"
            type="mac">
      </algorithm>
   </extension>
   <extension
         id="id10"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.flexiprovider.integrator.prng.sha1.Sha1Action"
            class="org.jcryptool.crypto.flexiprovider.integrator.prng.sha1.Sha1"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.SHA1Wizard"
            id="org.jcryptool.crypto.flexiprovider.integrator.prng.sha1"
            isFlexiProviderAlgorithm="true"
            name="SHA1"
            type="prng">
      </algorithm>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
</plugin>
