<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.rsa"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.rsa.Rsa"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.RSAWizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.rsa.RsaHandler"
            id="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.rsa"
            isFlexiProviderAlgorithm="true"
            name="RSA"
            type="asymmetric">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.md5"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.md5.Md5"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.MD5Wizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.md5.Md5Handler"
            id="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.md5"
            isFlexiProviderAlgorithm="true"
            name="MD5"
            type="hash">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.aes"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.aes.Aes"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.AESWizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.aes.AesHandler"
            id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.aes"
            name="AES"
            type="symmetric">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.sha"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.sha.Sha"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.SHA-256Wizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.sha.ShaHandler"
            id="org.jcryptool.crypto.flexiprovider.integrator.messagedigest.sha"
            isFlexiProviderAlgorithm="true"
            name="SHA-256"
            type="hash">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.rc6"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.rc6.Rc6"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.RC6Wizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.rc6.Rc6Handler"
            id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.rc6"
            isFlexiProviderAlgorithm="true"
            name="RC6"
            type="symmetric">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.idea"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.idea.Idea"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.IDEAWizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.idea.IdeaHandler"
            id="org.jcryptool.crypto.flexiprovider.integrator.blockcipher.idea"
            isFlexiProviderAlgorithm="true"
            name="IDEA"
            type="symmetric">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.signature.dsa"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.signature.dsa.Dsa"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.DSAWizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.signature.dsa.DsaHandler"
            id="org.jcryptool.crypto.flexiprovider.integrator.signature.dsa"
            isFlexiProviderAlgorithm="true"
            name="DSA"
            type="signature">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.elgamal"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.elgamal.ElGamal"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.ElGamalWizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.elgamal.ElGamalHandler"
            id="org.jcryptool.crypto.flexiprovider.integrator.asymmetric.elgamal"
            isFlexiProviderAlgorithm="true"
            name="ElGamal"
            type="asymmetric">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.mac.hmacmd5"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.mac.hmacmd5.HMacMd5"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.HMacMD5Wizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.mac.hmacmd5.HMacMd5Handler"
            id="org.jcryptool.crypto.flexiprovider.integrator.mac.hmacmd5"
            isFlexiProviderAlgorithm="true"
            name="HMacMD5"
            type="mac">
      </algorithm_cmd>
   </extension>
   <extension
         id="org.jcryptool.crypto.flexiprovider.integrator.prng.sha1"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.flexiprovider.integrator.prng.sha1.Sha1"
            contextHelpId="org.jcryptool.crypto.flexiprovider.integrator.SHA-1Wizard"
            handlerClass="org.jcryptool.crypto.flexiprovider.integrator.prng.sha1.Sha1Handler"
            id="org.jcryptool.crypto.flexiprovider.integrator.prng.sha1"
            isFlexiProviderAlgorithm="true"
            name="SHA-1"
            type="prng">
      </algorithm_cmd>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
</plugin>
