<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
      		category="org.jcryptool.visual"
            class="org.jcryptool.visual.errorcorrectingcodes.ui.views.EccMainView"
            id="org.jcryptool.visual.errorcorrectingcodes.ui"
            icon="icons/view.gif"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            contextHelpId="org.jcryptool.visual.errorcorrectingcodes.eccExtView"
            name="%Visual.name"
            viewId="org.jcryptool.visual.errorcorrectingcodes.ui">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.errorcorrectingcodes.handlers.RestartHandler"
            commandId="org.jcryptool.visual.errorcorrectingcodes.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension 
		point="org.eclipse.ui.menus">
			<menuContribution
				locationURI="toolbar:org.jcryptool.visual.errorcorrectingcodes.ui">
			<command commandId="org.jcryptool.visual.errorcorrectingcodes.restartCommand" 
				icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/new_wiz.png" 
				style="push">
			</command>
		</menuContribution>
	</extension>
</plugin>
