<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.jcryptool.crypto.classic.doppelkasten.algorithm"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.jcryptool.crypto.classic.doppelkasten.algorithm.DoppelkastenAlgorithmAction"
            class="org.jcryptool.crypto.classic.doppelkasten.algorithm.DoppelkastenAlgorithm"
            contextHelpId="org.jcryptool.crypto.classic.doppelkasten.algorithm"
            engineClass="org.jcryptool.crypto.classic.doppelkasten.algorithm.DoppelkastenEngine"
            id="org.jcryptool.crypto.classic.doppelkasten.algorithm"
            name="%algorithm.name"
            type="classic"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false"/>
      <toc
            file="$nl$/toc_cryptology.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.jcryptool.commands.core.commands">
      <command
            commandImpl="org.jcryptool.crypto.classic.doppelkasten.algorithm.DoppelkastenCmd"
            description="%command.description"
            name="doublebox">
         <example
               commandline="#commandname# -E -ed -k AKEY -k2 KEYTWO"
               explanation="%example.explanation">
         </example>
         <example
               commandline="#commandname# -D -ed -k AKEY -k2 KEYTWO"
               explanation="%example.explanation.0">
         </example>
         <example
               commandline="#commandname# -E -t &quot;TEST TEXT&quot; -k AKEY -k2 KEYTWO"
               explanation="%example.explanation.1">
         </example>
      </command>
   </extension>

</plugin>
