<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.0"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.secretsharing.views.SecretSharingView"
            id="org.jcryptool.visual.secretsharing.views.SecretSharingView">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            contextHelpId="org.jcryptool.visual.secretsharing.view"
            name="%Visual.name.0"
            viewId="org.jcryptool.visual.secretsharing.views.SecretSharingView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.secretsharing.helpCommand"
            name="%help.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.secretsharing.handler.HelpHandler"
            commandId="org.jcryptool.visual.secretsharing.helpCommand">
      </handler>
   </extension>

<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.secretsharing.handler.RestartHandler"
            commandId="org.jcryptool.visual.secretsharing.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.secretsharing.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.secretsharing.views.SecretSharingView">
         <command
               commandId="org.jcryptool.visual.secretsharing.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
