<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <!--
      <category
            name="Bouncycastle"
            id="org.jcryptool.bci">
      </category>
      <view
            id="org.jcryptool.bci.views.OperationView"
            name="Bouncycastle — Operation"
            icon="icons/sample.png"
            class="org.jcryptool.bci.views.OperationView"
            category="org.jcryptool.bci"
            inject="true">
      </view>
      -->
      <view
            category="org.jcryptool.visual"
            class="rsaelgamal.rcpImpl.RSAMainView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="rsaelgamal.RSAMainView"
            inject="true"
            name="Textbook RSA">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%visualName"
            viewId="org.jcryptool.rsaelgamal.view.RSAView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            contextHelpId="org.jcryptool.rsaelgamal.view.RSAView.help">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
