span.bold{ font-weight: bold;}

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 150px;
    text-align: center;
    border-radius: 4px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: 6px;
}
/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 50%;
    margin-left: -6px;
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}

/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

/* Define a round circle around text, intented to be used with a '?' */
span.help {
	border-radius: 50%;
        width: 19px;
        height: 19px;
        padding: 2px;
        background: #ADD8E6;
        border: 1px solid #444;
        color: #444;
        text-align: center;
        font: 16px Arial, sans-serif;
}