<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.analysis.textmodify.commands.TransformHandler"
            commandId="org.jcryptool.analysis.textmodify.commands.transform">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.analysis.textmodify.commands.transform"
            name="%transformMenuEntry.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:edit">
         <command
               commandId="org.jcryptool.analysis.textmodify.commands.transform"
               icon="icons/transform.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
