<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.aco.view.AntColView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.aco.view.ViewID"
            name="%viewName">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%visualName"
            viewId="org.jcryptool.visual.aco.view.ViewID"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            contextHelpId="org.jcryptool.visual.aco.ContextHelpID">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.aco.handlers.RestartHandler"
            commandId="org.jcryptool.visual.aco.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.aco.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jcryptool.visual.aco.view.ViewID">
         <command
               commandId="org.jcryptool.visual.aco.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
