<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.sphincsplus.ui.SphincsPlusView"
            id="org.jcryptool.visual.sphincsplus.SphincsPlusView"
            name="%view.name"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
			contextHelpId="org.jcryptool.visual.sphincsplus.contexthelp"
            name="%visual.name"
            viewId="org.jcryptool.visual.sphincsplus.SphincsPlusView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.sphincsplus.RestartCommand"
            commandId="org.jcryptool.visual.sphincsplus.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.sphincsplus.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.sphincsplus.SphincsPlusView">
         <command
               commandId="org.jcryptool.visual.sphincsplus.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push"
               tooltip="%restart.command.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
