<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- Help Topics -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <!-- Context Help -->
   <extension
         id="org.eclipse.wst.xml.security.doc.context"
         point="org.eclipse.help.contexts">
      <contexts file="$nl$/contexts.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.wst.xml.security.core.cheatsheets.category"
            name="%xmlSecurityCheatSheet">
      </category>
      <cheatsheet
            category="org.eclipse.wst.xml.security.core.cheatsheets.category"
            contentFile="$nl$/cheatsheets/sign.xml"
            id="org.eclipse.wst.xml.security.core.cheatsheets.sign"
            name="%signatureCheatSheet">
         <description>
            %signatureCheatSheetDescription
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.wst.xml.security.core.cheatsheets.category"
            contentFile="$nl$/cheatsheets/verify.xml"
            id="org.eclipse.wst.xml.security.core.cheatsheets.verify"
            name="%verificationCheatSheet">
         <description>
            %verificationCheatSheetDescription
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.wst.xml.security.core.cheatsheets.category"
            contentFile="$nl$/cheatsheets/encrypt.xml"
            id="org.eclipse.wst.xml.security.core.cheatsheets.encrypt"
            name="%encryptionCheatSheet">
         <description>
            %encryptionCheatSheetDescription
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.wst.xml.security.core.cheatsheets.category"
            contentFile="$nl$/cheatsheets/decrypt.xml"
            id="org.eclipse.wst.xml.security.core.cheatsheets.decrypt"
            name="%decryptionCheatSheet">
         <description>
            %decryptionCheatSheetDescription
         </description>
      </cheatsheet>
   </extension>
</plugin>
