<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	 <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.sigVerification.ui.view.SigVerView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.sigVerification.view"
            name="%view.name">
      </view>
   </extension>
  	<extension point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%Visual.name"
            viewId="org.jcryptool.visual.sigVerification.view"
            contextHelpId="org.jcryptool.visual.sigVerification.SigVerView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.toc">
       <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
</plugin>
