<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Views -->
   <extension
         id="org.eclipse.wst.xml.security.ui.views"
         name="org.eclipse.wst.xml.security.ui.views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.wst.xml.security"
            class="org.eclipse.wst.xml.security.ui.verify.SignatureView"
            icon="icons/view.gif"
            id="org.eclipse.wst.xml.security.ui.SignatureView"
            name="%xmlSignatureView">
      </view>
      <category
            id="org.eclipse.wst.xml.security" name="%category.name">
      </category>
   </extension>
   <!-- Preference Pages -->
   <extension
         id="org.eclipse.wst.xml.security.ui.preferences"
         name="org.eclipse.wst.xml.security.ui.preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.jcryptool.preferences.algorithms"
            class="org.eclipse.wst.xml.security.ui.preferences.PreferencePageXmlSecurity"
            id="org.eclipse.wst.xml.security.ui.preferences.XmlSecurity"
            name="%xmlSecurityPreferencePage">
      </page>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.ui.preferenceinitializer"
         name="org.eclipse.wst.xml.security.ui.preferenceinitializer"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xml.security.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.9"
            id="org.eclipse.wst.xml.security.ui.refreshSignatures"
            name="%command.name.9">
      </command>
      <command
            description="%command.description.10"
            id="org.eclipse.wst.xml.security.ui.showProperties"
            name="%command.name.10">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.RefreshSignaturesCommand"
            commandId="org.eclipse.wst.xml.security.ui.refreshSignatures">
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.ShowPropertiesCommand"
            commandId="org.eclipse.wst.xml.security.ui.showProperties">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.wst.xml.security.core.verify.VerificationResult">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.wst.xml.security.ui.SignatureView">
         <command
               commandId="org.eclipse.wst.xml.security.ui.showProperties"
               icon="icons/properties.gif"
               style="push"
               tooltip="%command.tooltip.9">
         </command>
         <command
               commandId="org.eclipse.wst.xml.security.ui.refreshSignatures"
               icon="icons/refresh.gif"
               style="push"
               tooltip="%command.tooltip.10">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.wst.xml.security.ui.SignatureView">
         <command
               commandId="org.eclipse.wst.xml.security.ui.showProperties"
               icon="icons/properties.gif"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip.11">
         </command>
         <command
               commandId="org.eclipse.wst.xml.security.ui.refreshSignatures"
               icon="icons/refresh.gif"
               label="%command.label.0"
               style="push"
               tooltip="%command.tooltip.12">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.wst.xml.security.ui.SignatureView">
         <command
               commandId="org.eclipse.wst.xml.security.ui.showProperties"
               icon="icons/properties.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.13">
         </command>
         <command
               commandId="org.eclipse.wst.xml.security.ui.refreshSignatures"
               icon="icons/refresh.gif"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.14">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.canonWithoutComments"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.eclipse.wst.xml.security.ui.commands.NewCanonicalizationRemoveCommand"
            class="org.eclipse.wst.xml.security.core.canonicalize.CreateCanonicalization"
            contextHelpId="org.eclipse.wst.xml.security.doc.canonicalization"
            id="org.eclipse.wst.xml.security.ui.newCanonWithoutComments"
            isFlexiProviderAlgorithm="false"
            name="%algorithm.name"
            type="xml">
      </algorithm>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.canonWithComments"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.eclipse.wst.xml.security.ui.commands.NewCanonicalizationMaintainCommand"
            class="org.eclipse.wst.xml.security.core.canonicalize.CreateCanonicalization"
            contextHelpId="org.eclipse.wst.xml.security.doc.canonicalizationcomments"
            id="org.eclipse.wst.xml.security.ui.newCanonWithComments"
            isFlexiProviderAlgorithm="false"
            name="%algorithm.name.0"
            type="xml">
      </algorithm>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.signature"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.eclipse.wst.xml.security.ui.commands.NewSignatureCommand"
            class="org.eclipse.wst.xml.security.core.sign.CreateSignature"
            contextHelpId="org.eclipse.wst.xml.security.doc.signature"
            id="org.eclipse.wst.xml.security.ui.newSignature"
            isFlexiProviderAlgorithm="false"
            name="%algorithm.name.1"
            type="xml">
      </algorithm>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.verification"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.eclipse.wst.xml.security.ui.commands.NewVerificationCommand"
            class="org.eclipse.wst.xml.security.core.verify.VerifyDocument"
            contextHelpId="org.eclipse.wst.xml.security.doc.verification"
            id="org.eclipse.wst.xml.security.ui.newVerification"
            isFlexiProviderAlgorithm="false"
            name="%algorithm.name.2"
            type="xml">
      </algorithm>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.encryption"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.eclipse.wst.xml.security.ui.commands.NewEncryptionCommand"
            class="org.eclipse.wst.xml.security.core.encrypt.CreateEncryption"
            contextHelpId="org.eclipse.wst.xml.security.doc.encryption"
            id="org.eclipse.wst.xml.security.ui.newEncryption"
            isFlexiProviderAlgorithm="false"
            name="%algorithm.name.3"
            type="xml">
      </algorithm>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.decryption"
         point="org.jcryptool.core.operations.algorithms">
      <algorithm
            actionClass="org.eclipse.wst.xml.security.ui.commands.NewDecryptionCommand"
            class="org.eclipse.wst.xml.security.core.decrypt.CreateDecryption"
            contextHelpId="org.eclipse.wst.xml.security.doc.decryption"
            id="org.eclipse.wst.xml.security.ui.newDecryption"
            isFlexiProviderAlgorithm="false"
            name="%algorithm.name.4"
            type="xml">
      </algorithm>
   </extension>
</plugin>
