<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.ECDH.ui.view.ECDHView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.ECDH.view"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%Visual.name.0"
            viewId="org.jcryptool.visual.ECDH.view"
            contextHelpId="org.jcryptool.visual.ecdh.view"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false"/>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.ECDH.handlers.RestartHandler"
            commandId="org.jcryptool.visual.ecdh.restartCommand">
      </handler>
      <handler
      		class="org.jcryptool.visual.ECDH.handlers.ShowAnimationHandler"
      		commandId="org.jcryptool.visual.ecdh.showAnimationCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.ecdh.restartCommand"
            name="%restart.command.name">
      </command>
      <command
      		id="org.jcryptool.visual.ecdh.showAnimationCommand"
      		name="ThisNameIsOverwrittenAtStartupByShowAnimationHandler#updateElement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.ECDH.view">
         <command
               commandId="org.jcryptool.visual.ecdh.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
         <command
         		commandId="org.jcryptool.visual.ecdh.showAnimationCommand"
         		style="push">

         </command>
      </menuContribution>
   </extension>

</plugin>
