<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jcryptool.editor.text.editor.JCTTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="txt,log,xml,bat,sh,ini"
            icon="icons/text_edit.png"
            id="org.jcryptool.editor.text.editor.JCTTextEditor"
            name="%editor.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%emptyeditor.label"
            id="org.jcryptool.editor.text.newEmptyFile"
            name="%emptyeditor.label">
      </command>
      <command
            description="%sampleeditor.label"
            id="org.jcryptool.editor.text.newSampleFile"
            name="%sampleeditor.label">
      </command>
      <command
            id="org.jcryptool.editor.text.openIn"
            name="%action.switch.editor">
      </command>
      <command
            description="%open.command.description"
            helpContextId="org.jcryptool.editor.text.textEditor"
            id="org.jcryptool.editor.text.openFile"
            name="%open.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.editor.text.commands.NewEmptyTextFile"
            commandId="org.jcryptool.editor.text.newEmptyFile">
      </handler>
      <handler
            class="org.jcryptool.editor.text.commands.NewSampleTextFile"
            commandId="org.jcryptool.editor.text.newSampleFile">
      </handler>
      <handler
            class="org.jcryptool.editor.text.commands.OpenInHex"
            commandId="org.jcryptool.editor.text.openIn">
      </handler>
      <handler
            class="org.jcryptool.editor.text.commands.OpenEditorHandler"
            commandId="org.jcryptool.editor.text.openFile"
            helpContextId="org.jcryptool.editor.text.textEditor">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.filesystem.IFileStore">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.jcryptool.core.editors.toolbar.command">
         <command
               commandId="org.jcryptool.editor.text.newEmptyFile"
               icon="icons/text_edit.png"
               style="push"
               tooltip="%emptyeditor.label">
         </command>
         <command
               commandId="org.jcryptool.editor.text.newSampleFile"
               icon="icons/text_edit.png"
               style="push"
               tooltip="%sampleeditor.label">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:newfile?before=hexsample">
         <command
               commandId="org.jcryptool.editor.text.newSampleFile"
               icon="icons/text_edit.png"
               id="txtsample"
               style="push">
         </command>
         <command
               commandId="org.jcryptool.editor.text.newEmptyFile"
               icon="icons/text_edit.png"
               id="txtempty"
               style="push">
         </command>
         <separator
               name="org.jcryptool.editor.text.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:showin">
         <command
               commandId="org.jcryptool.editor.text.openIn"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.jcryptool.editor.text.editor.JCTTextEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.jcryptool.fileexplorer.popup.open">
         <command
               commandId="org.jcryptool.editor.text.openFile"
               helpContextId="org.jcryptool.editor.text.textEditor"
               icon="icons/text_edit.png"
               label="%open.command.label"
               style="push"
               tooltip="%open.command.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.jcryptool.core.editorButton">
      <OnClick
            OnClickClass="org.jcryptool.editor.text.commands.NewSampleTextFile">
      </OnClick>
   </extension>
   <extension
         point="org.jcryptool.core.operations.editorServices">
      <service
            category="5"
            class="org.jcryptool.editor.text.service.JCTEditorService"
            icon="icons/text_edit.png"
            id="org.jcryptool.editor.text"
            label="%sampleeditor.label"
            pushAction="org.jcryptool.editor.text.commands.NewSampleTextFile">
      </service>
      <service
            category="4"
            class="org.jcryptool.editor.text.service.JCTEditorService"
            icon="icons/text_edit.png"
            id="org.jcryptool.editor.text"
            label="%emptyeditor.label"
            pushAction="org.jcryptool.editor.text.commands.NewEmptyTextFile">
      </service>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jcryptool.editor.text.startup.StartUp">
      </startup>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
</plugin>
