<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/elements_obj.png"
            category="org.jcryptool.games"
            class="org.jcryptool.games.sudoku.views.SudokuView"
            id="org.jcryptool.games.sudoku.views.SudokuView">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.games">
      <Game
            contextHelpId="org.jcryptool.games.sudoku.view"
            name="%Game.name"
            viewId="org.jcryptool.games.sudoku.views.SudokuView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/elements_obj.png">
      </Game>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.games.sudoku.handler.RestartHandler"
            commandId="org.jcryptool.games.sudoku.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.games.sudoku.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   <extension
         id="menu:org.jcryptool.games.sudoku.view"
         point="org.eclipse.ui.menus">
      <menuContribution
             allPopups="false"
             locationURI="toolbar:org.jcryptool.games.sudoku.views.SudokuView">
         <command
               commandId="org.jcryptool.games.sudoku.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
