<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.jcryptool.fileexplorer.views.FileExplorerView"
            icon="icons/icon.png"
            id="org.jcryptool.fileexplorer.views.FileExplorerView"
            category="org.eclipse.ui"
            name="%viewName"
            restorable="true">
         <description>
            %view.description
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.filesystem.IFileStore"
            class="org.jcryptool.fileexplorer.views.factories.FileExplorerAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.fileexplorer.commands.CutHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.filesystem.IFileStore">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.jcryptool.fileexplorer.commands.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.filesystem.IFileStore">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.jcryptool.fileexplorer.commands.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.filesystem.IFileStore">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.jcryptool.fileexplorer.commands.RenameHandler"
            commandId="org.jcryptool.fileexplorer.rename">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.filesystem.IFileStore">
                  </instanceof>
                  <test
                        property="org.jcryptool.fileexplorer.isRoot">
                  </test>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.jcryptool.fileexplorer.commands.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.core.filesystem.IFileStore">
                     </instanceof>
                     <test
                           property="org.jcryptool.fileexplorer.isRoot">
                     </test>
                  </iterate>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="org.jcryptool.fileexplorer.views.FileExplorerView">
                  </equals>
               </with>
            </and>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.jcryptool.fileexplorer.commands.RefreshHandler"
            commandId="org.jcryptool.fileexplorer.refresh">
      </handler>
      <handler
            class="org.jcryptool.fileexplorer.commands.CollapseHandler"
            commandId="org.eclipse.ui.navigate.collapseAll">
      </handler>
      <handler
            class="org.jcryptool.fileexplorer.commands.HomeHandler"
            commandId="org.jcryptool.fileexplorer.home">
      </handler>
      <handler
            class="org.jcryptool.fileexplorer.commands.InvisibleToggleHandler"
            commandId="org.jcryptool.fileexplorer.invisibleToggle">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%rename.command.description"
            id="org.jcryptool.fileexplorer.rename"
            name="%rename.command.name">
      </command>
      <command
            description="%properties.command.description"
            id="org.jcryptool.fileexplorer.properties"
            name="%properties.command.name">
      </command>
      <command
            description="%refresh.command.description"
            id="org.jcryptool.fileexplorer.refresh"
            name="%refresh.command.name">
      </command>
      <command
            description="%home.command.description"
            id="org.jcryptool.fileexplorer.home"
            name="%home.command.name">
      </command>
      <command
            description="%invisiblefilescommand.description"
            id="org.jcryptool.fileexplorer.invisibleToggle"
            name="%invisiblefilescommand.name">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.jcryptool.preferences.general"
            class="org.jcryptool.fileexplorer.preferences.GeneralPreferencePage"
            id="org.jcryptool.fileexplorer.GeneralPreferencePage"
            name="%general.page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jcryptool.fileexplorer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.jcryptool.fileexplorer.views.FileExplorerView">
         <command
               commandId="org.jcryptool.fileexplorer.home"
               icon="icons/home.gif"
               style="push"
               tooltip="%home.command.tooltip">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.collapseAll"
               style="push">
         </command>
         <separator
               name="org.jcryptool.fileexplorer.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.jcryptool.fileexplorer.refresh"
               icon="icons/refresh.gif"
               style="push"
               tooltip="%refresh.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.jcryptool.fileexplorer.popup">
         <separator
               name="crypto"
               visible="true">
         </separator>
         <menu
               id="org.jcryptool.fileexplorer.popup.open"
               label="%open.menu.label"
               tooltip="%open.menu.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.core.filesystem.IFileStore">
                        </instanceof>
                        <test
                              property="org.jcryptool.fileexplorer.isFile">
                        </test>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </menu>
         <separator
               name="edit"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <separator
               name="delete"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <separator
               name="rename"
               visible="true">
         </separator>
         <command
               commandId="org.jcryptool.fileexplorer.rename"
               id="org.jcryptool.fileexplorer.popup.rename"
               label="%rename.command.label"
               style="push"
               tooltip="%rename.command.tooltip">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <separator
               name="properties"
               visible="true">
         </separator>
         <command
         		commandId="org.eclipse.ui.file.properties"
				id="org.jcryptool.fileexplorer.popup.properties"
				label="%properties.command.label"
				tooltip="%properties.command.tooltip">
				<visibleWhen
	                  checkEnabled="false">
	               <and>
	                  <with
	                        variable="selection">
	                     <iterate
	                           ifEmpty="false"
	                           operator="and">
	                        <instanceof
	                              value="org.eclipse.core.filesystem.IFileStore">
	                        </instanceof>
	                        <test
	                              property="org.jcryptool.fileexplorer.isFile">
	                        </test>
	                     </iterate>
	                  </with>
	                  <count
                         value="1">
	                  </count>
	               </and>
	            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.jcryptool.fileexplorer.views.FileExplorerView">
         <command
               commandId="org.eclipse.ui.edit.cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <separator
               name="org.jcryptool.fileexplorer.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <separator
               name="org.jcryptool.fileexplorer.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.jcryptool.fileexplorer.invisibleToggle"
               icon="icons/read_obj.gif"
               style="toggle"
               tooltip="%invisiblefilescommand.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="$nl$/index.xml" >
      </index>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.jcryptool.fileexplorer.tester.IFileStorePropertyTester"
            id="org.jcryptool.fileexplorer.IFileStorePropertyTester"
            namespace="org.jcryptool.fileexplorer"
            properties="isCascade,isFile,isRoot"
            type="org.eclipse.core.filesystem.IFileStore">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.jcryptool.fileexplorer.properties.ResourcePropertyPage"
            id="org.jcryptool.fileexplorer.properties.resource"
            name="%resource.propertypage.name"
            nameFilter="*">
		<enabledWhen>
                  <test
                  		property="org.jcryptool.fileexplorer.isFile" >
                  </test>
		</enabledWhen>
      </page>
   </extension>


</plugin>
