<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.jcryptool.core.operations.analysis">
      <analysis
            contextHelpId="org.jcryptool.analysis.ngram.view"
            name="%analysis.name"
            viewId="org.jcryptool.analysis.ngram.views.NgramView"
            icon="platform:/plugin/org.jcryptool.core.util/icons/analysis_icon.gif">
      </analysis>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="platform:/plugin/org.jcryptool.core.util/icons/analysis_icon.gif"
            category="org.jcryptool.analysis"
            class="org.jcryptool.analysis.ngram.views.NgramView"
            id="org.jcryptool.analysis.ngram.views.NgramView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/help/contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.analysis.ngram.handlers.RestartHandler"
            commandId="org.jcryptool.analysis.ngram.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.analysis.ngram.restartCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.jcryptool.analysis.ngram.views.NgramView">
         <command
               commandId="org.jcryptool.analysis.ngram.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.jcryptool.analysis.ngram.views.NgramView">
         <command
               commandId="org.jcryptool.analysis.ngram.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
