<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jcryptool.crypto.flexiprovider.operations.performFlexiProviderOperation">
      <performOperation
            listenerClass="org.jcryptool.crypto.flexiprovider.engines.listener.PerformOperationListener">
      </performOperation>
   </extension>
   <extension
         point="org.jcryptool.crypto.flexiprovider.operations.checkFlexiProviderOperation">
      <checkOperation
            listenerClass="org.jcryptool.crypto.flexiprovider.engines.listener.CheckOperationListener">
      </checkOperation>
   </extension>

</plugin>
