<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.0"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.zeroknowledge.views.MagicDoorView"
            id="org.jcryptool.visual.zeroknowledge.views.MagicDoorView">
      </view>
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.zeroknowledge.views.FiatShamirView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.zeroknowledge.views.FiatShamirView"
            name="%view.name.1">
      </view>
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.zeroknowledge.views.FeigeFiatShamirView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.zeroknowledge.views.FeigeFiatShamirView"
            name="%view.name.2">
      </view>
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.zeroknowledge.views.GraphenisomorphieView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.zeroknowledge.views.GraphenisomorphieView"
            name="%view.name.3">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%view.name.0"
            viewId="org.jcryptool.visual.zeroknowledge.views.MagicDoorView"
            contextHelpId="org.jcryptool.visual.zeroknowledge.magicdoorViewHelp"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
      <Visual
            name="%view.name.1"
            viewId="org.jcryptool.visual.zeroknowledge.views.FiatShamirView"
            contextHelpId="org.jcryptool.visual.zeroknowledge.fiatshamirContextHelpID"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
      <Visual
            name="%view.name.2"
            viewId="org.jcryptool.visual.zeroknowledge.views.FeigeFiatShamirView"
            contextHelpId="org.jcryptool.visual.zeroknowledge.feigefiatshamirContextHelp"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
      <Visual
            name="%view.name.3"
            viewId="org.jcryptool.visual.zeroknowledge.views.GraphenisomorphieView"
            contextHelpId="org.jcryptool.visual.zeroknowledge.graphisomorpismHelpID"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.zeroknowledge.handlers.RestartHandler"
            commandId="org.jcryptool.visual.zeroknowledge.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.zeroknowledge.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.zeroknowledge.views.MagicDoorView">
         <command
               commandId="org.jcryptool.visual.zeroknowledge.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.zeroknowledge.views.FiatShamirView">
         <command
               commandId="org.jcryptool.visual.zeroknowledge.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.zeroknowledge.views.FeigeFiatShamirView">
         <command
               commandId="org.jcryptool.visual.zeroknowledge.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.zeroknowledge.views.GraphenisomorphieView">
         <command
               commandId="org.jcryptool.visual.zeroknowledge.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>