<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.0"
            icon="icons/view.gif"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.zeroknowledge.views.MagicDoorView"
            id="org.jcryptool.visual.zeroknowledge.views.MagicDoorView">
      </view>
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.zeroknowledge.views.FiatShamirView"
            icon="icons/view.gif"
            id="org.jcryptool.visual.zeroknowledge.views.FiatShamirView"
            name="%view.name.1">
      </view>
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.zeroknowledge.views.FeigeFiatShamirView"
            icon="icons/view.gif"
            id="org.jcryptool.visual.zeroknowledge.views.FeigeFiatShamirView"
            name="%view.name.2">
      </view>
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.zeroknowledge.views.GraphenisomorphieView"
            icon="icons/view.gif"
            id="org.jcryptool.visual.zeroknowledge.views.GraphenisomorphieView"
            name="%view.name.3">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%view.name.0"
            viewId="org.jcryptool.visual.zeroknowledge.views.MagicDoorView"
            contextHelpId="org.jcryptool.visual.zeroknowledge.magicdoorView">
      </Visual>
      <Visual
            name="%view.name.1"
            viewId="org.jcryptool.visual.zeroknowledge.views.FiatShamirView"
            contextHelpId="org.jcryptool.visual.zeroknowledge.fiatshamirView">
      </Visual>
      <Visual
            name="%view.name.2"
            viewId="org.jcryptool.visual.zeroknowledge.views.FeigeFiatShamirView"
            contextHelpId="org.jcryptool.visual.zeroknowledge.feigefiatshamirView">
      </Visual>
      <Visual
            name="%view.name.3"
            viewId="org.jcryptool.visual.zeroknowledge.views.GraphenisomorphieView"
            contextHelpId="org.jcryptool.visual.zeroknowledge.graphenisomorphieView">
      </Visual>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>

</plugin>
