<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jcryptool.core.perspective">
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="false">
         </view>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoLastEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoNextEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description"
            id="org.jcryptool.commands.ui.showConsoleView"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.commands.ui.commands.ShowConsoleView"
            commandId="org.jcryptool.commands.ui.showConsoleView">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.jcryptool.core.perspective">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.jcryptool.core.perspective">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.jcryptool.core.toolbar?before=additions">
         <command
               commandId="org.jcryptool.commands.ui.showConsoleView"
               icon="icons/console.gif"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.jcryptool.core.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.jcryptool.commands.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="$nl$/index.xml">
      </index>
   </extension>
   <extension
         id="org.jcryptool.commands.ui.startupextension"
         name="startup_command_ui_extension"
         point="org.eclipse.ui.startup">
      <startup
            class="org.jcryptool.commands.ui.eclipseconsole.CommandsUiStartup">
      </startup>
   </extension>
</plugin>
