<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.jcryptool.core.introduction.views.AlgorithmInstruction"
            icon="platform:/plugin/org.eclipse.ui.intro/icons/welcome16.png"
            id="org.jcryptool.core.introduction.views.AlgorithmInstruction"
            inject="true"
            name="%view.name">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jcryptool.crypto.flexiprovider.ui.perspective.FlexiProviderPerspective">
         <viewShortcut
               id="org.jcryptool.core.introduction.views.AlgorithmInstruction">
         </viewShortcut>
         <view
               id="org.jcryptool.core.introduction.views.AlgorithmInstruction"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.core.introduction.autoSlideCommand"
            name="AutoSlide">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.core.introduction.handler.AutoslideHandler"
            commandId="org.jcryptool.core.introduction.autoSlideCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jcryptool.core.introduction.views.AlgorithmInstruction">
         <command
               commandId="org.jcryptool.core.introduction.autoSlideCommand"
               icon="icons/animationenabled.png"
               style="push"
               tooltip="%autoSlideCommand.tooltip">
         </command>
      </menuContribution>
   </extension>


</plugin>
