<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="keyStoreActions" name="KeyStore Action Contributions" schema="schema/keyStoreActions.exsd"/>
   <extension-point id="keyStoreCommands" name="KeyStore Command Contributions" schema="schema/keyStoreCommands.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.jcryptool.crypto">
      </category>
      <view
            name="%view.name.0"
            icon="icons/16x16/kgpg_info.png"
            category="org.jcryptool.crypto"
            class="org.jcryptool.crypto.keystore.ui.views.KeystoreView"
            id="org.jcryptool.crypto.keystore.KeystoreView">
      </view>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts file="$nl$/contexts.xml"></contexts>
   </extension>

 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.jcryptool.crypto.keystore.popup" >
      <separator
            name="org.jcryptool.crypto.keystore.propsep" visible="true">
      </separator>
      <command
            commandId="org.jcryptool.crypto.keystore.ShowProperties"
            icon="icons/16x16/propertiesedit.gif"
            id="org.jcryptool.crypto.keystore.ui.commands.ShowProperties"
            label="%properties.command.label"
            style="push"
            tooltip="%properties.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                           <or>
	                           <instanceof
	                              value="org.jcryptool.crypto.keystore.ui.views.nodes.keys.SecretKeyNode">
		                        </instanceof>
		                        <instanceof
		                              value="org.jcryptool.crypto.keystore.ui.views.nodes.keys.CertificateNode">
		                        </instanceof>
		                        <instanceof
		                              value="org.jcryptool.crypto.keystore.ui.views.nodes.keys.PrivateKeyNode">
		                        </instanceof>
                           </or>
                     </iterate>
                  </with>
                  <count
                     value="1">
                  </count>
               </and>
            </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution
    	allPopups="false"
    	locationURI="toolbar:org.jcryptool.core.toolbar?after=additions">
    	<command
    		commandId="org.jcryptool.crypto.keystore.OpenKeystore"
    		icon="icons/16x16/kgpg_info.png"
    		style="push">
    	</command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
      <command
            description="%properties.command.description"
            id="org.jcryptool.crypto.keystore.ShowProperties"
            name="%properties.command.label">
      </command>
      <command
            description="%selectkey.command.description"
            id="org.jcryptool.crypto.keystore.SelectKey"
            name="%selectkey.command.name">
      </command>
      <command
      		description="%openkeystore.command.description"
      		id="org.jcryptool.crypto.keystore.OpenKeystore"
      		name="%openkeystore.command.name">
      </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
    	class="org.jcryptool.crypto.keystore.commands.ShowPropertiesHandler"
    	commandId="org.jcryptool.crypto.keystore.ShowProperties">
    </handler>
    <handler
    	class="org.jcryptool.crypto.keystore.commands.OpenKeystoreHandler"
    	commandId="org.jcryptool.crypto.keystore.OpenKeystore">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.jcryptool.crypto.flexiprovider.ui.perspective.FlexiProviderPerspective">
       <viewShortcut
             id="org.jcryptool.crypto.keystore.KeystoreView">
       </viewShortcut>
    </perspectiveExtension>
 </extension>
</plugin>
