<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="JCrypTool RCP" sequenceNumber="33">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.6.0.v20161126060001"/>
<repository location="http://download.eclipse.org/technology/babel/update-site/R0.14.1/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.6.3.v20170301-0400"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.9.203.v20170131-1444"/>
<unit id="org.eclipse.sdk.ide" version="4.6.3.M20170301-0400"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.6.3.M20170301-0400"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
<unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.12.3.v20170209-1843"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
