<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="outline" name="outline Name" schema="schema/outline.exsd"/>

   <extension
      point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         id="javahexeditorIdentifier"
         name="javahexeditorName"
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.javahexeditor.plugin.editors.HexEditor"
            contributorClass="net.sourceforge.javahexeditor.plugin.editors.HexEditorActionBarContributor"
            extensions="a,bin,cab,class,com,dat,data,drv,dll,exe,hex,iso,jar,lib,o,out,part,pdf,png,ram,res,rom,sys,txt,zip"
            icon="icons/javahexeditor-16x16.png"
            id="net.sourceforge.javahexeditor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="javahexeditor.binaryFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Editors"
            class="net.sourceforge.javahexeditor.plugin.editors.HexEditorPreferencesPage"
            id="net.sourceforge.javahexeditor.plugin.editors.PreferencesPage"
            name="%preferences-page.name"/>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="bin"
            id="javahexeditor.binaryFile"
            name="%content-type.binary.name"
            priority="high">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="jar,cab,zip,rar,7z"
            id="javahexeditor.archiveFile"
            name="%content-type.archive.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="exe,elf,out,com,abs"
            id="javahexeditor.executableFile"
            name="%content-type.executable.name"
            priority="high">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="o,obj"
            id="javahexeditor.objectFile"
            name="%content-type.object.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="dll,dylib,so"
            id="javahexeditor.sharedLibFile"
            name="%content-type.shared-library.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="a,lib"
            id="javahexeditor.staticLibFile"
            name="%content-type.static-library.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="class,dat,data,drv,hex,iso,part,pdf,png,ram,res,rom,sys,txt"
            id="javahexeditor.miscFile"
            name="%content-type.miscellaneous.name"
            priority="low">
      </content-type>
   </extension>

</plugin>
