<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.sidechannelattack.dpa.views.DPAView"
            id="org.jcryptool.visual.sidechannelattack.dpaview">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            contextHelpId="org.jcryptool.visual.sidechannelattack.dpa.dpaview"
            name="%view.name"
            viewId="org.jcryptool.visual.sidechannelattack.dpaview"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension>
 <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.sidechannelattack.handlers.RestartHandler"
            commandId="org.jcryptool.visual.sidechannelattack.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.sidechannelattack.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.jcryptool.visual.sidechannelattack.dpaview">
         <command
               commandId="org.jcryptool.visual.sidechannelattack.restartCommand"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/new_wiz.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.sidechannelattack.dpaview">
         <command
               commandId="org.jcryptool.visual.sidechannelattack.restartCommand"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/new_wiz.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
