<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.jcryptool.core.openActionSet"
            label="%set.fileactions"
            visible="true">
         <action
               class="org.jcryptool.core.action.fileActions.OpenFileAction"
               definitionId="org.jcryptool.core.action.open"
               icon="icons/open_file.gif"
               id="org.jcryptool.core.action.openFile"
               label="%action.openfile"
               menubarPath="file/fileStart"
               style="push"
               toolbarPath="org.jcryptool.core.toolbar/fileStart"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.jcryptool.core.action.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.core.action.open"
            name="%command.openfile"/>
   </extension>

</plugin>
