<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.jcryptool.crypto.classic.vernam.algorithm"
         point="org.jcryptool.core.operations.algorithms_cmd">
      <algorithm_cmd
            class="org.jcryptool.crypto.classic.vernam.algorithm.VernamAlgorithm"
            contextHelpId="org.jcryptool.crypto.classic.vernam.wizard"
            engineClass="org.jcryptool.crypto.classic.vernam.algorithm.VernamEngine"
            handlerClass="org.jcryptool.crypto.classic.vernam.algorithm.VernamAlgorithmHandler"
            id="org.jcryptool.crypto.classic.vernam.algorithm_cmd1"
            name="Vernam"
            type="classic">
      </algorithm_cmd>
   </extension>

</plugin>
