<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="newOperation" name="New Operation Interface" schema="schema/newOperation.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.jcryptool.crypto"
            class="org.jcryptool.crypto.flexiprovider.algorithms.ui.views.FlexiProviderAlgorithmsView"
            icon="icons/16x16/bookcase.png"
            id="org.jcryptool.crypto.flexiprovider.algorithms.ui.views.FlexiProviderAlgorithmsView"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
      <contexts
            file="$nl$/contexts_algorithms.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jcryptool.crypto.flexiprovider.ui.perspective.FlexiProviderPerspective">
         <viewShortcut
               id="org.jcryptool.crypto.flexiprovider.algorithms.ui.views.FlexiProviderAlgorithmsView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
