<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jcryptool.core.operations.providers2">
      <providerController
            providerController="org.bouncycastle.BouncyCastleController">
      </providerController>
   </extension>
   <extension
         id="id2"
         name="name"
         point="org.jcryptool.core.operations.providers">
      <provider
            cipherModes="CBC|ECB|OFB"
            class="org.bouncycastle.jce.provider.BouncyCastleProvider"
            paddings="PKCS5Padding"
            providerInfo="BouncyCastle Security Provider 1.65.0"
            providerName="BC">
      </provider>
   </extension>

</plugin>
