<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.0"
            icon="icons/view.gif"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.ecc.ui.ECView"
            id="org.jcryptool.visual.ecc.views.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%view.name.0"
            viewId="org.jcryptool.visual.ecc.views.view"
            contextHelpId="org.jcryptool.visual.ecc.eccview">
      </Visual>
   </extension>

</plugin>
