<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor
			name="%editor.name"
			icon="icons/hex.png"
			default="true"
			extensions="a,bin,cab,class,com,dat,data,drv,dll,exe,hex,iso,jar,lib,o,out,part,pdf,png,ram,res,rom,sys,zip"
			contributorClass="net.sourceforge.javahexeditor.plugin.editors.HexEditorActionBarContributor"
			class="net.sourceforge.javahexeditor.plugin.editors.HexEditor"
			id="org.jcryptool.editors.hex.HexEditor">
		</editor>
	</extension>
	 <extension
       point="org.jcryptool.core.operations.editorServices">
	    <service
	          category="5"
	          class="org.jcryptool.editor.hex.service.HexEditorService"
	          icon="icons/hex.png"
	          id="org.jcryptool.editor.hex"
	          label="%samplefile.label"
	          pushAction="org.jcryptool.editor.hex.commands.NewFile">
	    </service>
	    <service
	          category="4"
	          class="org.jcryptool.editor.hex.service.HexEditorService"
	          icon="icons/hex.png"
	          id="org.jcryptool.editor.hex"
	          label="%emptyfile.label"
	          pushAction="org.jcryptool.editor.hex.commands.NewEmptyFile">
	    </service>
 	</extension>
   <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.jcryptool.editor.hex.commands.OpenEditorHandler"
          commandId="org.jcryptool.editor.hex.openFile"
          helpContextId="org.jcryptool.core.help.javahexEditor"><!--TODO-->
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <instanceof
                      value="org.eclipse.core.filesystem.IFileStore">
                </instanceof>
             </iterate>
          </with>
       </activeWhen>
       <enabledWhen>
          <with
                variable="selection">
             <count
                   value="1">
             </count>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="org.jcryptool.editor.hex.commands.OpenInTextEditor"
          commandId="org.jcryptool.editor.hex.command.openIn">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.jcryptool.fileexplorer.popup.open">
       <command
             commandId="org.jcryptool.editor.hex.openFile"
             helpContextId="org.jcryptool.core.help.javahexEditor"
             icon="icons/hex.png"
             label="%open.command.label"
             style="push"
             tooltip="%open.command.tooltip">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:newfile?after=hexsample">
       <command
             commandId="org.jcryptool.editor.hex.emptyfileCommand"
             icon="icons/hex.png"
             id="hexempty"
             label="%emptyfile.label"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:newfile">
       <command
             commandId="org.jcryptool.editor.hex.templatefileCommand"
             icon="icons/hex.png"
             id="hexsample"
             label="%samplefile.label"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:showin">
       <command
             commandId="org.jcryptool.editor.hex.command.openIn"
             icon="platform:/plugin/org.jcryptool.editor.text/icons/text_edit.png"
             style="push">
          <visibleWhen
                checkEnabled="true">
             <with
                   variable="activeEditorId">
                <equals
                      value="org.jcryptool.editors.hex.HexEditor">
                </equals>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
   
    <command
          defaultHandler="org.jcryptool.editor.hex.commands.NewEmptyFile"
          id="org.jcryptool.editor.hex.emptyfileCommand"
          name="%emptyfile.label">
    </command>
    <command
          defaultHandler="org.jcryptool.editor.hex.commands.NewFile"
          id="org.jcryptool.editor.hex.templatefileCommand"
          name="%samplefile.label">
    </command>
    <command
          id="org.jcryptool.editor.hex.command.openIn"
          name="%action.label.1">
    </command>
    <command
          description="%open.command.description"
          helpContextId="org.jcryptool.core.help.javahexEditor"
          id="org.jcryptool.editor.hex.openFile"
          name="%open.command.name">
    </command>
 </extension>
</plugin>
