<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.PairingBDII.ui.View"
            id="org.jcryptool.visual.ecbd2">
      </view>
   </extension>
 <extension
       point="org.jcryptool.core.operations.visuals">
    <Visual
          name="%view.name"
          viewId="org.jcryptool.visual.ecbd2"
          contextHelpId="org.jcryptool.visual.pairingbd2.view"
          icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
    </Visual>
 </extension>
 <!-- Extension of the online help -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/toc.xml"
            primary="false">
      </toc>
   </extension>
	<extension point="org.eclipse.help.contexts">
		<contexts file="$nl$/contexts.xml"></contexts>
	</extension>
 <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.PairingBDII.handlers.RestartHandler"
            commandId="org.jcryptool.visual.PairingBDII.restartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.PairingBDII.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.ecbd2">
         <command
               commandId="org.jcryptool.visual.PairingBDII.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
