<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.ssl.views.SslView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.ssl.views.SslView"
            name="%view.name.0">
      </view>
   </extension>
   
     <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   
    <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            contextHelpId="org.jcryptool.visual.ssl.view"
            name="%Visual.name.0"
            viewId="org.jcryptool.visual.ssl.views.SslView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png">
      </Visual>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.ssl.handler.RestartHandler"
            commandId="org.jcryptool.visual.ssl.restartCommand">
      </handler>
   </extension>
   
    <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.ssl.restartCommand"
            name="%restart.command.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.jcryptool.visual.ssl.views.SslView">
         <command
               commandId="org.jcryptool.visual.ssl.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.jcryptool.visual.ssl.views.SslView">
         <command
               commandId="org.jcryptool.visual.ssl.restartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/help/contexts.xml">
      </contexts>
   </extension>

</plugin>
