<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.aup.views.AupView"
            icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/defaultview_misc.png"
            id="org.jcryptool.visual.aup.views.AndroidUnlockPattern"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%Visual.name"
            viewId="org.jcryptool.visual.aup.views.AndroidUnlockPattern">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jcryptool.visual.aup.views.AndroidUnlockPattern">
         <command
               commandId="org.jcryptool.visual.aup.RestartCommand"
               icon="platform:/plugin/org.jcryptool.core.util/icons/icon_reset.png"
               style="push"
               tooltip="%command.RestartTooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.aup.RestartCommand"
            name="%command.RestartName">
      </command>
      <command
            id="org.jcryptool.visual.aup.HelpCommand"
            name="%command.HelpName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.aup.handlers.RestartHandler"
            commandId="org.jcryptool.visual.aup.RestartCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>

</plugin>
