# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout core repository
      uses: actions/checkout@v2
      with:
          repository: jcryptool/core
          path: core
    
    - name: Checkout crypto repository
      uses: actions/checkout@v2
      with:
          repository: jcryptool/crypto
          path: crypto
          
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn clean package --file $GITHUB_WORKSPACE/core/org.jcryptool.releng/pom.xml
